<div class="page-header">
	<div class=container>
		<h1> Desencripta a un usuari </h1>
	</div>
</div>
<div class="rule"></div>
<div class='container'>
	<div class="form">
		<h4> A partir d'un certificat obtingues l'identitat d'un usuari </h4>
		<form [formGroup]="certificateForm">
			<br>
            <label> Share Autoritaria 1: </label><input formControlName="au1" class="form-control" placeholder="Share Au1" /><br><br>
			<label> Share Autoritaria 2: </label><input formControlName="au2" class="form-control" placeholder="Share Au2" /><br><br>
			<label> Share Autoritaria 3: </label><input formControlName="au3" class="form-control" placeholder="Share Au3" /><br><br>
			<label> certificate: </label><input formControlName="certificate" class="form-control" placeholder="Certificate" /><br><br>
			<button type="button" class='btn btn-primary ladda-button' (click)='getShares()'>Generate Keys</button>
		</form>
	</div>
</div>
<div class="rule"></div>
<div class='container'>
	<div class="form">
		<h4> A partir d'un certificat obtingues l'identitat d'un usuari </h4>
		<form [formGroup]="shareFormer">
			<br>
            <label> Share 1: </label><input formControlName="share1" class="form-control" placeholder="Share" /><br><br>
			<label> Share 2: </label><input formControlName="share2" class="form-control" placeholder="Share" /><br><br>
			<button type="button" class='btn btn-primary ladda-button' (click)='getDNI()'>Generate Keys</button>
			<div id= 'dni' *ngIf="show">
				<label> <strong>DNI:</strong> <input formControlName="dni" class="form-control" placeholder="DNI" /></label>
			</div>
		</form>
	</div>
</div>